<h2>List of campaigns</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">KEYWORDS</th>
            <th scope="col">BID AMOUNT</th>
            <th scope="col">CAMPAIGN FUND</th>
            <th scope="col">STATUS</th>
            <th scope="col">TOWN</th>
            <th scope="col">RADIUS</th>
            <th scope="col">SELLER</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let campaign of listCampaigns">
                <td>{{campaign.id}}</td>
                <td>{{campaign.name}}</td>
                <td>{{campaign.keywords}}</td>
                <td>{{campaign.bidAmount}}</td>
                <td>{{campaign.campaignFund}}</td>
                <td>{{campaign.status}}</td>
                <td>{{campaign.town}}</td>
                <td>{{campaign.radius}}</td>
                <td>{{campaign.sellerId}}</td>
              </tr>
        </tbody>
</table>
